<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}OrganizeIt{% endblock %}</title>
</head>
<body>
    <a href="{% url 'main_system:offer_list' %}">Strona główna</a>
    {% if user.is_authenticated %}
        Witaj, {{ user.username }}.
        <a href="{% url 'account:password_change' %}">Zmień hasło</a>
        <a href="{% url 'account:logout' %}">Wyloguj</a>
    {% else %}
        <a href="{% url 'account:login' %}">Zaloguj</a>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>