{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h3>Zerowanie hasła</h3>
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Dwukrotnie podaj nowe hasło:</p>
        <form action="." method="post">
            {% bootstrap_form form %}
            {% csrf_token %}
            {% buttons %}
                <button name="submit" class="btn btn-primary">Zmień hasło</button>
            {% endbuttons %}
        </form>
    {% else %}
        <p>Łączę pozwalające na wyzerowanie hasła jest nieprawidłowe, ponieważ prawdopodobnie zostało już
        wcześniej użyte. Musisz ponownie rozpocząć procedurę zerowania hasła.</p>
    {% endif %}
{% endblock %}