{% extends "base.html" %}

{% block content %}
    <h1>{{ catering.name }}</h1>
    <h2>{{ catering.location.street }} {{ catering.location.local_number}} {{ catering.location.town }}</h2>

    <p>
        {% if catering.with_local_only %}
            Ten katering jest ofertą jednego z lokali.
        {% endif %}
    </p>
    <p>
        {% if catering.basic_offer is not None %}
            Oferta podstawowa:<br>
            {{ catering.basic_offer }}
        {% endif %}
    </p>
    <p>Koszt oferty podstawowej na jedną osobę: {{ catering.min_cost_per_person }}.</p>

    <p>
        {% if catering.contact.website is not None %}
            Więcej informacji pod adresem {{ catering.contact.website }}.
        {% endif %}
    </p>
    <p>Numer telefonu: {{ catering.contact.phone_number }}</p>
    <p>
        {% if catering.contact.email is not None %}
            Adres e-mail: {{ catering.contact.email }}
        {% endif %}
    </p>


    <p>
        <a href="{% url 'main_system:take_offer' catering.id catering.name %}">Dodaj do moich ofert</a>
    </p>


    {% with comments.count as total_comments %}
        <h4>
            {{ total_comments }} komentarz{{ total_comments|pluralize:"y" }}
        </h4>
    {% endwith %}

    {% for comment in comments %}
        <p>
            Użytkownik {{ comment.name }} skomentował {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    {% empty %}
        <p>Ta oferta nie ma jeszcze żadnych komentarzy.</p>
    {% endfor %}
    {% if new_comment %}
        <p>Twój komentarz został dodany.</p>
    {% else %}
        <h4>Dodaj nowy komentarz</h4>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Dodaj komentarz"></p>
        </form>
    {% endif %}
{% endblock %}