{% extends "base.html" %}
{% load bootstrap4 %}


{% block page_header %}
    <h2>{{ catering.name }}</h2>
    <h3>{{ catering.location.street }} {{ catering.location.local_number}} {{ catering.location.town }}</h3>

    <p>
        {% if catering.with_local_only %}
            Ten katering jest ofertą jednego z lokali.
        {% endif %}
    </p>
{% endblock %}


{% block content %}
    <h3>OFERTY</h3>
    {% for offer in offers %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ offer.name }}<br>
            </h4>
            <div class="card-body">
                <p>
                    {% if offer.offer_description %}
                        {{ offer.offer_description }}<br>
                    {% endif %}
                    Cena za jedną osobę: {{ offer.cost }} zł<br>
                    <a href="{% url 'main_system:take_offer' offer.id %}">Dodaj do moich ofert</a>
                </p>
            </div>
        </div>

    {% endfor %}

    <h3>KONTAKT</h3>
    <p>Numer telefonu: {{ catering.contact.phone_number }}</p>
    <p>
        {% if catering.contact.email is not None %}
            Adres e-mail: {{ catering.contact.email }}
        {% endif %}
    </p>
    <p>
        {% if catering.contact.website is not None %}
            Więcej informacji pod adresem {{ catering.contact.website }}.
        {% endif %}
    </p>



    {% with comments.count as total_comments %}
        <h3>KOMENTARZE ({{ total_comments }})</h3>
    {% endwith %}

    {% for comment in comments %}
        <div class="card mb-3">
            <div class="card-header">
                <small>Użytkownik {{ comment.name }} skomentował {{ comment.created }}</small>
            </div>
            <div class="card-body">
                {{ comment.body|linebreaks }}
            </div>
        </div>

    {% empty %}
        <p>Nie ma jeszcze żadnych komentarzy.</p>
    {% endfor %}


    <h4>Dodaj nowy komentarz:</h4>
    <form action="." method="post">
        {% bootstrap_form comment_form %}
        {% csrf_token %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Dodaj komentarz</button>
        {% endbuttons %}
    </form>
    {% endblock %}