{% extends "base.html" %}

{% block content %}
    <h1>{{ local.name }}</h1>
    <h2>{{ local.location.street }} {{ local.location.local_number}} {{ local.location.town }}</h2>

    <p>
        {% if local.catering is not None %}
            W tym lokalu dostępny jest tylko i wyłącznie katering {{ local.catering.name }}.
        {% endif %}
    </p>

    Dostępne sale w lokalu:<br>
    {% for offer in offers %}
        <p>
            {{ offer.name }}<br>
            {% if offer.offer_description %}
                {{ offer.offer_description }}<br>
            {% endif %}
            Cena: {{ offer.cost }} zł<br>
            <a href="{% url 'main_system:take_offer' offer.id %}">Dodaj do moich ofert</a>
        </p>
    {% endfor %}

    <p>
        {% if local.contact.website is not None %}
            Więcej informacji pod adresem {{ local.contact.website }}.
        {% endif %}
    </p>
    <p>Numer telefonu: {{ local.contact.phone_number }}</p>
    <p>
        {% if local.contact.email is not None %}
            Adres e-mail: {{ local.contact.email }}
        {% endif %}
    </p>


    {% with comments.count as total_comments %}
        <h4>
            {{ total_comments }} komentarz{{ total_comments|pluralize:"y" }}
        </h4>
    {% endwith %}

    {% for comment in comments %}
        <p>
            Użytkownik {{ comment.name }} skomentował {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    {% empty %}
        <p>Ta oferta nie ma jeszcze żadnych komentarzy.</p>
    {% endfor %}
    {% if new_comment %}
        <p>Twój komentarz został dodany.</p>
    {% else %}
        <h4>Dodaj nowy komentarz</h4>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Dodaj komentarz"></p>
        </form>
    {% endif %}
{% endblock %}