{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <p>
        Wybierz organizowaną uroczystość, a następnie
        podaj miasto na terenie którego chcesz aby się odbyła (jeśli mieszkasz w mniejszej miejscowości
        zalecane jest, abyś podał nazwę powiatu):<br>

        <form action="." method="post" class="form">
        {% bootstrap_form form %}
        {% csrf_token %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Wyszukaj</button>
        {% endbuttons %}
    </form>
    </p>
{% endblock %}

{% block content %}
    <h3>Ostatnio dodani dostawcy:</h3>
    {% for provider in providers %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ provider }}
                <small><a href="{{ provider.get_absolute_url }}">Oferty</a> </small>
            </h4>
            <div class="card-body">
                Adres: {{ provider.location }} <br>
                Numer telefonu: {{ provider.contact.phone_number }} <br>
                {% if provider.contact.website %}
                    Internet: {{ provider.contact.website }}<br>
                {% endif %}
                {% if provider.contact.email %}
                    E-mail: {{ provider.contact.email }}<br>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% include "pagination.html" with page=providers %}
{% endblock %}