{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <p>
        Wybierz organizowaną uroczystość, a następnie
        podaj miasto na terenie którego chcesz aby się odbyła (jeśli mieszkasz w mniejszej miejscowości
        zalecane jest, abyś podał nazwę powiatu):<br>

        <form action="." method="post" class="form">
        {% bootstrap_form form %}
        {% csrf_token %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Wyszukaj</button>
        {% endbuttons %}
    </form>
    </p>
{% endblock %}

{% block content %}


    <h3>Ostatnio dodane oferty:</h3>
    {% for offer in offers %}
        <p>
            {{ offer }}<br>
            {{ offer.location }} <br>
            Tel. {{ offer.contact.phone_number }} <br>
            {% if offer.contact.website %}
                {{ offer.contact.website }}<br>
            {% endif %}
            {% if offer.contact.email %}
                {{ offer.contact.email }}
            {% endif %}
            <a href="{{ offer.get_absolute_url }}">
                Szczegóły
            </a>
        </p>
    {% endfor %}
    {% include "pagination.html" with page=offers %}
{% endblock %}