{% extends "base.html" %}

{% block content %}
    <h3>Ostatnio dodane oferty:</h3>
    {% for offer in offers %}
        <p>
            {{ offer }}<br>
            Tel. {{ offer.contact.phone_number }} <br>
            {% if offer.contact.website %}
                {{ offer.contact.website }}<br>
            {% endif %}
            {% if offer.contact.email %}
                {{ offer.contact.email }}
            {% endif %}
            <a href="{{ offer.get_absolute_url }}">
                Szczegóły
            </a>
        </p>
    {% endfor %}
{% endblock %}