{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h1>{{ other_provider.name }}</h1>
    <h2>{{ other_provider.location.street }} {{ other_provider.location.local_number}}
        {{ other_provider.location.town }}</h2>
{% endblock %}

{% block content %}
    <h3>OFERTY</h3>
    {% for offer in offers %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ offer.name }}<br>
            </h4>
            <div class="card-body">
                <p>
                    {% if offer.offer_description %}
                        {{ offer.offer_description }}<br>
                    {% endif %}
                    Cena: {{ offer.cost }} zł<br>
                    <a href="{% url 'main_system:take_offer' offer.id %}">Dodaj do moich ofert</a>
                </p>
            </div>
        </div>
    {% endfor %}

    <p>Numer telefonu: {{ other_provider.contact.phone_number }}</p>
    <p>
        {% if other_offer.contact.email is not None %}
            Adres e-mail: {{ other_provider.contact.email }}
        {% endif %}
    </p>
    <p>
        {% if other_provider.contact.website is not None %}
            Więcej informacji pod adresem {{ other_provider.contact.website }}.
        {% endif %}
    </p>


    {% with comments.count as total_comments %}
        <h3>KOMENTARZE ({{ total_comments }})</h3>
    {% endwith %}

    {% for comment in comments %}
        <div class="card mb-3">
            <div class="card-header">
                <small>Użytkownik {{ comment.name }} skomentował {{ comment.created }}</small>
            </div>
            <div class="card-body">
                {{ comment.body|linebreaks }}
            </div>
        </div>

    {% empty %}
        <p>Nie ma jeszcze żadnych komentarzy.</p>
    {% endfor %}


    <h4>Dodaj nowy komentarz:</h4>
    <form action="." method="post">
        {% bootstrap_form comment_form %}
        {% csrf_token %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Dodaj komentarz</button>
        {% endbuttons %}
    </form>
{% endblock %}
