{% extends "base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h6>Czy na pewno chcesz usunać wybraną ofertę?</h6>
{% endblock %}

{% block content %}
<form action="{% url 'main_system:remove_offer' offer.id %}"
      method="post" xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}

        {% buttons %}
            <button name="submit" class="btn btn-primary">Tak</button>
        {% endbuttons %}
        <p><a href="{% url 'main_system:user_panel' %}">Anuluj</a></p>
    </form>
{% endblock %}