{% extends "base.html" %}

{% block content %}
    <h3>Twoje oferty:</h3>
    {% for offer in offers %}
        {% if offer.local %}
            {{ offer.local.name }}<br>
            {{ offer.local.location }}<br>
            {{ offer.local.contact }}<br>
        {% elif offer.catering %}
            {{ offer.catering.name }}<br>
            {{ offer.catering.location }} <br>
            {{ offer.catering.contact }}<br>
        {% else %}
            {{ offer.other_provider.name }}<br>
            {{ offer.other_provider.location }} <br>
            {{ offer.other_provider.contact }}<br>
        {% endif %}
            <p>
                {{ offer }}<br>
                {% if offer.offer_description %}
                    {{ offer.offer_description }}<br>
                {% endif %}
                Koszt: {{ offer.cost }} zł.<br>
                <a href="{% url 'main_system:remove_offer' offer.id %}">Usuń ofertę</a>
            </p>
    {% endfor %}

    <p>
        <a href="{% url 'main_system:estimate_costs' %}">Oszacuj koszty</a>
    </p>
{% endblock %}