{% extends "base.html" %}

{% block content %}
    <h3>Twoje oferty:</h3>
    {% for room_offer in room_offers %}
        <p>
            {{ room_offer.local }}<br>
            {{ room_offer.local.location }}<br>
            Tel. {{ room_offer.local.contact.phone_number }} <br>
            {% if room_offer.local.contact.website %}
                {{ room_offer.local.contact.website }}<br>
            {% endif %}
            {% if room_offer.local.contact.email %}
                {{ room_offer.local.contact.email }}
            {% endif %}<br>
            {{ room_offer.max_people }}<br>
            <a href="{{ room_offer.local.get_absolute_url }}">
                Szczegóły
            </a>
        </p>
    {% endfor %}

    {% for offer in offers %}
        <p>
            {{ offer }}<br>
            {{ offer.location }} <br>
            Tel. {{ offer.contact.phone_number }} <br>
            {% if offer.contact.website %}
                {{ offer.contact.website }}<br>
            {% endif %}
            {% if offer.contact.email %}
                {{ offer.contact.email }}
            {% endif %}<br>
            <a href="{{ offer.get_absolute_url }}">
                Szczegóły
            </a>
        </p>
    {% endfor %}
{% endblock %}